/* body{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */
.header{
    text-align: right;
}
.header nav{
    background-color: black;
    line-height: 40px;
    font-size: 14px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 50px;
    padding: 11px;
}
.header nav a:hover{
    background-color: white;
    color: black;
}